##**********************************************
## *   Copyright (C) 2007 CINCOM SYSTEMS, INC.
## *   All Rights Reserved
## **********************************************
##
##
## Oracle source template
##
###########################################################################
##
##      Create Schema 
##########################################################################
#if ($Schema)
## Schema $Schema.getName()   
#if ($Namespace != "")

CREATE USER $Schema.getFixedName() IDENTIFIED BY $Schema.getFixedName();
GRANT ALL PRIVILEGES TO $Schema.getFixedName();
#end
#end