##**********************************************
## *   Copyright (C) 2007 CINCOM SYSTEMS, INC.
## *   All Rights Reserved
## **********************************************
##
##
## Oracle drop schema source template
##
##--------------------------------------------------
## SQL 92 source template
#if ($Schema)
#if ($Namespace != "")
	
DROP USER $Schema.getFixedName() CASCADE;
#end
#end