##**********************************************
## *   Copyright (C) 2007 CINCOM SYSTEMS, INC.
## *   All Rights Reserved
## **********************************************
##
##
##      Generate Alters for Primary Keys
##
#if ($PKCon)
#set($colnum = $PKCon.getPkColumnNames().size())
#if ($colnum > 0)

ALTER TABLE #if ($Namespace != "")$Namespace.#end$Table.getFixedName()
ADD CONSTRAINT $!PKCon.getPkName() PRIMARY KEY
    (
#set($colnum = $PKCon.getPkColumnNames().size())
#foreach ($nextColumn in $PKCon.getPkColumnNames())
        $nextColumn #if ($velocityCount < $colnum),
#end
#end

    );
#end
#end
##
##       Generate Alters for unique column constraints
##
#if ($Table.getIndexMap().size() > 0)		
#foreach ($key in $Table.getIndexMap().keySet())

ALTER TABLE #if ($Namespace != "")$Namespace.#end$Table.getFixedName()
ADD CONSTRAINT $!key UNIQUE
    (
#set($colnum = $Table.getIndexMap().get($key).size())
#foreach ($nextColumn in $Table.getIndexMap().get($key))
        $nextColumn.getFixedName() #if ($velocityCount < $colnum),
#end
#end

    );
#end
#end