##**********************************************
## *   Copyright (C) 2007 CINCOM SYSTEMS, INC.
## *   All Rights Reserved
## **********************************************
##
##
## SQL 92 source template
##############################################################################
##       Create View
##############################################################################
#if ($View)
#set($queryStr = $View.getQueryString())
#if ($queryStr != "") 
   		
CREATE VIEW #if ($Namespace != "")$Namespace.#end$View.getFixedName()	
#set($colnum = $View.getColumnsVector().size())
#if ($colnum > 0)
(
#foreach ($nextColumn in $View.getColumnsVector())
     $nextColumn.getFixedName()#if ($velocityCount < $colnum),#end

#end
)
#end 
AS 
$queryStr
#end
#end