##**********************************************
## *   Copyright (C) 2007 CINCOM SYSTEMS, INC.
## *   All Rights Reserved
## **********************************************
##
##
## SQL 92 source template
##############################################################################
##       Create Table
##############################################################################
#if ($Table)
#set($colnum = $Table.getColumnsVector().size())
#if ($colnum >0)

CREATE TABLE #if ($Namespace != "")$Namespace.#end$Table.getFixedName() 
(
##-----------------------------------------------------------------------
##       Create Table Columns with length, scale, and not null constraints
##-----------------------------------------------------------------------
#foreach ($nextColumn in $Table.getColumnsVector())
#ColumnDef ($nextColumn)#if ($velocityCount < $colnum),
#end
#end

);
#end
#end