##**********************************************
## *   Copyright (C) 2007 CINCOM SYSTEMS, INC.
## *   All Rights Reserved
## **********************************************
##
##
## SQL 92 source template
#if ($View)

DROP VIEW #if ($Namespace != "")$Namespace.#end$View.getFixedName(); 
#end