## SQL 92 source template
#if ($View)
#if ($Namespace !="")
/* Drop View  $Namespace.$View.getFixedName() */
DROP VIEW $Namespace.$View.getFixedName();	
#else
/* Drop View  $View.getFixedName() */
DROP VIEW $View.getFixedName();
#end
#end