##**********************************************
## *   Copyright (C) 2007 CINCOM SYSTEMS, INC.
## *   All Rights Reserved
## **********************************************
##
##
## SQL 92 source template
##
##--------------------------------------------------
#if ($Schema)  
#if ($Namespace != "")

CREATE SCHEMA $Schema.getFixedName();
#else
/* Owning database does not support Schemas or the namespace is the default Schema */
#end
#end