##**********************************************
## *   Copyright (C) 2007 CINCOM SYSTEMS, INC.
## *   All Rights Reserved
## **********************************************
##
##
## SQL 92 source template
##
##      Generate Alters for Foreign Keys
##
#if ($FKCons.size() > 0)
#foreach ($FKConstraint in $FKCons)

ALTER TABLE #if ($Namespace != "")$Namespace.#end$Table.getFixedName()
#set($fkey = $FKConstraint.getFKey())
#set($sch = $fkey.getNativeSchema())
ADD CONSTRAINT $!FKConstraint.getFkName() FOREIGN KEY ($fkey.getColumnName())
    REFERENCES #if ($sch != "")$sch.#end$fkey.getNativeTableName()($fkey.getNativeColumnName())#if ($fkey.hasUpdateRule()) ON UPDATE $fkey.getUpdateRule()#end 
#if ($fkey.hasDeleteRule()) ON DELETE $fkey.getDeleteRule()#end
;
#end
#end
