## SQL 92 source template
##############################################################################
##       Create View
##############################################################################
#if ($View)
#set($queryStr = $View.getQueryString())
#if ($queryStr != "") 
/* Create View $Namespace.$View.getFixedName() */   
##create view $View.getFixedName()		
CREATE VIEW $Namespace.$View.getFixedName()	
#set($colnum = $View.getColumnsVector().size())
#if ($colnum > 0)
(#foreach ($nextColumn in $View.getColumnsVector())$nextColumn.getFixedName()#if ($velocityCount < $colnum),#end #end)
#end
as
$queryStr
#end
#end