##**********************************************
## *   Copyright (C) 2007 CINCOM SYSTEMS, INC.
## *   All Rights Reserved
## **********************************************
##
##
## SQL 92 source template
#if ($Schema)
#if ($Namespace != "")
	
DROP SCHEMA $Schema.getFixedName() CASCADE;	
#else
/* Owning database does not support Schemas or the namespace is the default Schema */
#end
#end