## SQL 92 source template
#if ($Schema)
## Schema $Schema.getName()   
#if ($Namespace != "")
/* Create SCHEMA $Schema.getFixedName()    */
CREATE SCHEMA $Schema.getFixedName();
#else
/* Owning database does not support Schemas or the namespace is the default Schema */
#end
#end