## SQL 92 source template
###########################################################################
##
##      Create Schema 
##########################################################################
#if ($Schema)
## Schema $Schema.getName()   
#if ($Namespace != "")
/* Create Schema $Schema.getFixedName()    */
##create schema $Schema.getFixedName() authorization $Schema.getFixedName();
##sure uve added 3 following lines here for oracle.
create user $Schema.getFixedName() identified by $Schema.getFixedName();
grant all privileges to $Schema.getFixedName();
## added this line sure 29/12
#else
/* Owning database does not support Schemas or the namespace is the default Schema */
#end
#end